@use '../styles/_variables' as vars;

.body {  
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: 127vh;
}

.row { 
    margin-top: 2%;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
 } 

.button {
    background-color: vars.$color;
    border: none;
}

.button:hover {
    background-color: vars.$color;
}

.blink-icon {
    animation: blink vars.$animationTimeForIcon linear infinite;
}

.blink-text {
    animation: blink vars.$animationTimeForText linear infinite;
}

@keyframes blink {
    50% {
      opacity: 0.3;
    }
}

.loader {
    margin: auto;
    width: 150px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
    animation: l22 2s infinite linear;
  }
  .loader::before,
  .loader::after {
     content: "";
     grid-area: 1/1;
     margin: 15%;
     border-radius: 50%;
     background: inherit;
     animation: inherit;
  }
  .loader::after {
     margin: 25%;
     animation-duration: 3s;
  }
  @keyframes l22 {
    100% {transform: rotate(1turn)}
  }