.button {
    background-color: transparent;
    border: none;
}

.button:hover {
    background-color: transparent;
}

.blink {
    animation: blink 0.5s linear infinite;
}

@keyframes blink {
    50% {
      opacity: 0.3;
    }
}